<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	<appSettings>
		<add key="baseAddressResilient" value="http://localhost:30082/"/>
		<add key="baseAddressNoResilient" value="http://localhost:30084/"/>
		<add key="requestPath" value="api/BookData/Book" />
		<add key="LDKey" value="sdk-2c2931d8-888b-4341-985b-c78d4570c03a"/>
		<add key="DefaultRPS" value="5"/>
	</appSettings>
</configuration>