<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net47" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net47" />
  <package id="LaunchDarkly.Cache" version="1.0.2" targetFramework="net47" />
  <package id="LaunchDarkly.Client" version="5.6.2" targetFramework="net47" />
  <package id="LaunchDarkly.Common.StrongName" version="2.0.0" targetFramework="net47" />
  <package id="LaunchDarkly.EventSource" version="3.3.0" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
</packages>